<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    body {
        display: flex; 
        justify-content : flex-start;
    }
    label {
        background : skyblue;
        padding: 5px 10px;
        color: #fff;
        height: 30px;
        box-sizing: border-box;
        font-weight: bold;
    }
    select{padding: 5px 10px; height: 30px; box-sizing: border-box; border-radius: 4px; border: none; font-weight: bold;}
    div{display: flex; align-items: center; margin-right: 10px; border: 1px solid #ccc;}
</style>

</head>
<body>
  <div id="container"></div>
  <script>
    (function() {
      //아 이거 그 소스네
      // 너꺼는 taeyoon 폴더 만들어서 쓰믄됨
      let defaultCategorySymbol = Symbol('default');

      let loadCategoryGroups = function() {
        return [
          {
            id: 1,
            name: '직군'	
          }, {
            id: 2,
            name: '개발자구분'
          }, {
            id: 3,
            name: '기획자구분'
          }, {
            id: 4,
            name: '디자이너구분'
          }, {
            id: 5,
            name: 'BE보유스킬'
          }, {
            id: 6,
            name: 'FE보유스킬'
          }, {
            id: 7,
            name: '숙련도'
          }, {
            id: 8,
            name: '경력'
          }, {
            id: 9,
            name: 'ME플랫폼'
          }, {
            id: 10,
            name: 'Spring Type'
          }, {
            id: 11,
            name: 'JDK Version'
          }
        ];
      }
      let loadCategories = function() {
        return [
          { id: 1,
            name: '개발자',
            categoryGroupId: 1, 
          },
          { id: 2,
            name: '기획자',
            categoryGroupId: 1, 
          },
          { id: 3,
            name: '디자이너',
            categoryGroupId: 1, 
          },
          { id: 4,
            name: 'BE',
            categoryGroupId: 2, 
          },
          { id: 5,
            name: 'FE',
            categoryGroupId: 2, 
          },
          { id: 6,
            name: 'ME',
            categoryGroupId: 2, 
          },
          { id: 7,
            name: 'UI',
            categoryGroupId: 2, 
          },
          { id: 8,
            name: '서비스기획',
            categoryGroupId: 3, 
          },
          { id: 9,
            name: '화면기획',
            categoryGroupId: 3, 
          },
          { id: 10,
            name: '개발기획',
            categoryGroupId: 3, 
          },
          { id: 11,
            name: '상품디자인',
            categoryGroupId: 4, 
          },
          { id: 12,
            name: '가구디자인',
            categoryGroupId: 4, 
          },
          { id: 13,
            name: '게임디자인',
            categoryGroupId: 4, 
          },
          { id: 14,
            name: 'JAVA',
            categoryGroupId: 5, 
          },
          { id: 15,
            name: 'Spring',
            categoryGroupId: 5, 
          },
          { id: 16,
            name: 'C',
            categoryGroupId: 5, 
          },
          { id: 17,
            name: 'C#',
            categoryGroupId: 5, 
          },
          { id: 18,
            name: 'js',
            categoryGroupId: 6, 
          },
          { id: 19,
            name: 'ts',
            categoryGroupId: 6, 
          },
          { id: 20,
            name: 'react',
            categoryGroupId: 6, 
          },
          { id: 21,
            name: 'vue',
            categoryGroupId: 6, 
          },
          { id: 22,
            name: '상',
            categoryGroupId: 7, 
          },
          { id: 23,
            name: '중',
            categoryGroupId: 7, 
          },
          { id: 24,
            name: '하',
            categoryGroupId: 7, 
          },
          { id: 25,
            name: '주니어',
            categoryGroupId: 8, 
          },
          { id: 26,
            name: '시니어',
            categoryGroupId: 8, 
          },
          { id: 27,
            name: 'ios',
            categoryGroupId: 9, 
          },
          { id: 28,
            name: 'android',
            categoryGroupId: 9, 
          },
          { id: 29,
            name: 'mvc',
            categoryGroupId: 10, 
          },
          { id: 30,
            name: 'boots',
            categoryGroupId: 10, 
          },
          { id: 31,
            name: '~7',
            categoryGroupId: 11, 
          },
          { id: 32,
            name: '8~15',
            categoryGroupId: 11, 
          },
          { id: 33,
            name: '15~',
            categoryGroupId: 11, 
          },
        ];
      };
      let loadRelations = function() {
        return [
          {
            relationGroupId: 1,
            order: 1,
            categoryGroupId: 1,
            values: ['1'],
            operator: '=',
            valueType: 'id' //카테고리 데이타의 필드명
          },
          {
            relationGroupId: 1,
            order: 2,
            categoryGroupId: 2,
            values: ['4'],
            operator: '=',
            valueType: 'id'
          },
          {
            relationGroupId: 1,
            order: 3,
            categoryGroupId: 5,
            values: ['14'],
            operator: '=',
            valueType: 'id'
          },
          {
            relationGroupId: 1,
            order: 4,
            categoryGroupId: 11,
            values: null,
            operator: '=',
            valueType: 'id'
          },          
          {
            relationGroupId: 2,
            order: 1,
            categoryGroupId: 1,
            values: ['1'],
            operator: '=',
            valueType: 'id'
          },
          {
            relationGroupId: 2,
            order: 2,
            categoryGroupId: 2,
            values: ['4'],
            operator: '=',
            valueType: 'id'
          },
          {
            relationGroupId: 2,
            order: 3,
            categoryGroupId: 5,
            values: ['15'],
            operator: '=',
            valueType: 'id'
          },
          {
            relationGroupId: 2,
            order: 4,
            categoryGroupId: 10,
            values: null,
            operator: '=',
            valueType: 'id'
          },
          {
            relationGroupId: 3,
            order: 1,
            categoryGroupId: 1,
            values: ['1'],
            operator: '=',
            valueType: 'id'
          },
          {
            relationGroupId: 3,
            order: 2,
            categoryGroupId: 2,
            values: ['4'],
            operator: '=',
            valueType: 'id'
          },
          {
            relationGroupId: 3,
            order: 3,
            categoryGroupId: 5,
            values: ['D', 'C#'],
            operator: 'in',
            valueType: 'name'
          },
          {
            relationGroupId: 3,
            order: 4,
            categoryGroupId: 7,
            values: null,
            operator: '=',
            valueType: 'id'
          },
          {
            relationGroupId: 5,
            order: 1,
            categoryGroupId: 1,
            values: ['1'],
            operator: '=',
            valueType: 'id'
          },
          {
            relationGroupId: 5,
            order: 2,
            categoryGroupId: 2,
            values: ['5'],
            operator: '=',
            valueType: 'id'
          },
          {
            relationGroupId: 5,
            order: 3,
            categoryGroupId: 6,
            values: null,
            operator: '=',
            valueType: 'id'
          },
          {
            relationGroupId: 5,
            order: 4,
            categoryGroupId: 8,
            values: null,
            operator: '=',
            valueType: 'id'
          },
          {
            relationGroupId: 5,
            order: 5,
            categoryGroupId: 7,
            values: null,
            operator: '=',
            valueType: 'id'
          },
          {
            relationGroupId: 6,
            order: 1,
            categoryGroupId: 1,
            values: ['1'],
            operator: '=',
            valueType: 'id'
          },
          {
            relationGroupId: 6,
            order: 2,
            categoryGroupId: 2,
            values: ['6'],
            operator: '=',
            valueType: 'id'
          },
          {
            relationGroupId: 6,
            order: 3,
            categoryGroupId: 8,
            values: null,
            operator: '=',
            valueType: 'id'
          },
          {
            relationGroupId: 6,
            order: 4,
            categoryGroupId: 9,
            values: null,
            operator: '=',
            valueType: 'id'
          },

          {
            relationGroupId: 7,
            order: 1,
            categoryGroupId: 1,
            values: ['1'],
            operator: '=',
            valueType: 'id'
          },
          {
            relationGroupId: 7,
            order: 2,
            categoryGroupId: 2,
            values: ['7'],
            operator: '=',
            valueType: 'id'
          },
          {
            relationGroupId: 7,
            order: 3,
            categoryGroupId: 8,
            values: null,
            operator: '=',
            valueType: 'id'
          },
          {
            relationGroupId: 8,
            order: 1,
            categoryGroupId: 1,
            values: ['2'],
            operator: '=',
            valueType: 'id'
          },
          {
            relationGroupId: 8,
            order: 1,
            categoryGroupId: 3,
            values: null,
            operator: '=',
            valueType: 'id'
          },
          {
            relationGroupId: 8,
            order: 2,
            categoryGroupId: 8,
            values: null,
            operator: '=',
            valueType: 'id'
          },
          {
            relationGroupId: 9,
            order: 1,
            categoryGroupId: 1,
            values: ['3'],
            operator: '=',
            valueType: 'id'
          },
          {
            relationGroupId: 9,
            order: 2,
            categoryGroupId: 4,
            values: null,
            operator: '=',
            valueType: 'id'
          },
          {
            relationGroupId: 9,
            order: 3,
            categoryGroupId: 8,
            values: null,
            operator: '=',
            valueType: 'id'
          }
        ]
      };
      let generateRelationTree = function() {
        let relationTree = {
          categoryGroupId: relations[0].categoryGroupId,
          categories: {}
        };      
        let prevRelationgroupId=0;
        let current = undefined;

        relations.forEach(relation=>{
          if(prevRelationgroupId==relation.relationGroupId) {
            current.categoryGroupId = relation.categoryGroupId;
            current.categories = current.categories || {};
          } else if(prevRelationgroupId!=relation.relationGroupId) { // 끝났음
            current = relationTree;
            prevRelationgroupId = relation.relationGroupId;
          }

          let categoryId = relation.values ? (relation.operator + '|' + relation.valueType + '|' + relation.values):defaultCategorySymbol;
          current.categories[categoryId] = current.categories[categoryId] || {};
          current = current.categories[categoryId];
        });

        return relationTree;
      };
      
      let categoryGroups = loadCategoryGroups();
      let categories = loadCategories();
      let relations = loadRelations();
      let categoryGroupMap = {};
      let categoryMap = {};
      let toggle = false;
      let asyncCategoryRequestMap = {
        '2': function() {
          toggle=!toggle;
          return new Promise((resolve, reject)=>{
            setTimeout(()=>{          
              if(toggle) {            
                resolve([
                  { id: 4,
                  name: 'BE',
                  categoryGroupId: 2, 
                  },
                  { id: 5,
                  name: 'FE',
                  categoryGroupId: 2, 
                  },
                  { id: 6,
                  name: 'ME',
                  categoryGroupId: 2, 
                  },
                  { id: 7,
                  name: 'UI',
                  categoryGroupId: 2, 
                  },
                  { id: 10007,
                  name: 'DESIGN',
                  categoryGroupId: 2, 
                  }
                ]);
              } else {
                resolve([
                  { id: 4,
                  name: 'BE',
                  categoryGroupId: 2, 
                  },
                  { id: 5,
                  name: 'FE',
                  categoryGroupId: 2, 
                  },
                  { id: 6,
                  name: 'ME',
                  categoryGroupId: 2, 
                  },
                  { id: 7,
                  name: 'UI',
                  categoryGroupId: 2, 
                  }
                ]);
              }
            }, 1000);
          });
        }
      };

      let asyncLoadCategoryGroup = function(categoryGroupId) {
        let categoryLoader = asyncCategoryRequestMap[categoryGroupId];

        if(categoryLoader) {
          return categoryLoader().then(categories=>{
            categoryGroupMap[categoryGroupId].categories = categories;
            return categoryGroupMap[categoryGroupId];
          });
        } else {
          return Promise.resolve(categoryGroupMap[categoryGroupId]);
        }
      };

    

      categoryGroups.forEach(categoryGroup=>(categoryGroupMap[categoryGroup.id] = categoryGroup));
      categories.forEach(category=>(categoryMap[category.id] = category));

      for(let key in categoryMap) {
        let category = categoryMap[key];
        let categoryGroup = categoryGroupMap[category.categoryGroupId];
        category.categoryGroup = categoryGroup;
        categoryGroup.categories = categoryGroup.categories || [];
        categoryGroup.categories.push(category);
      }

      let locker = (function() {
        let lockFlag = false;

        return {
          lock: function() {
            if(!lockFlag) {
              lockFlag = true;
              //처리 로직
            }
          }, 
          unlock: function() {
            if(lockFlag) {
              lockFlag = true;
              //처리 로직
            }
          }
        }
      })();

      let relationTree = generateRelationTree();
      
      let getNextRelation = (function() {
        let operatorMap = {
          '=': (valuesString, value)=>{
            let result = (',' + valuesString + ',').startsWith(',' + value + ',');
            console.log('=', valuesString, value, result);
            return result;
          },
          '<': (valuesString, value)=>{ 
            let result = (',' + valuesString + ',').startsWith(',' + value + ',');
            console.log('=', valuesString, value, result);
            return result;
          },
          '>': (valuesString, value)=>{ 
            let result = (',' + valuesString + ',').startsWith(',' + value + ',');
            console.log('=', valuesString, value, result);
            return result;
          },
          'in': (valuesString, value)=>{
            let result = -1<(',' + valuesString + ',').indexOf(',' + value + ',');
            console.log('in', valuesString, value, result);
            return result;
          }
        };

        return function(relation, categoryId) {
          if(categoryId) {
            for(let key in relation.categories) {
              let result = /(.*?)\|(.*?)\|(.*)/.exec(key);

              if(result) {
                if(operatorMap[result[1]](result[3], categoryMap[categoryId] && categoryMap[categoryId][result[2]])) {
                  return relation.categories[key];
                }
              }
            }
          }
        };
      })();

      let f = function (currentRelation, defaultCategoryIdList) {
        if(0<Object.keys(currentRelation).length) {
          locker.lock();
          let defaultCategoryId = defaultCategoryIdList.shift();
          asyncLoadCategoryGroup(currentRelation.categoryGroupId).then(categoryGroup=>{
            let nextRelation =
                    getNextRelation(currentRelation, defaultCategoryId) ||
                    getNextRelation(currentRelation, categoryGroup.categories[0].id) ||
              currentRelation.categories[defaultCategorySymbol];
            createSelectTag(categoryGroup, defaultCategoryId, currentRelation, defaultCategoryIdList);
            f(nextRelation, defaultCategoryIdList);
          })
        } else {
          locker.unlock();
        }
      }

      let createSelectTag = function(categoryGroup, defaultCategoryId, currentRelation, defaultCategoryIdList) {
        let div = document.createElement('div');
        let html = '';

        div.classList.add('select');
        html+=`<label>${categoryGroup.name}</label>`;
        html+=`<select>`;
        categoryGroup.categories.forEach(category=>{
                                                  let selected = (category.id===defaultCategoryId)? 'selected':'';
          html+=`  <option value=${category.id} ${selected}>${category.name}</option>`;
        });
        html+=`</select>`;

        div.innerHTML = html;
        let select = div.children[1];
        
        select.addEventListener('change', (e)=>{
          let currentDiv = div.nextElementSibling;
          
          while(currentDiv?.classList.contains('select')) {
            let removeDiv = currentDiv;
            currentDiv=currentDiv.nextElementSibling;
            removeDiv.remove();
          }

          let nextRelation = 
            getNextRelation(currentRelation, e.currentTarget.value) ||
            currentRelation.categories[defaultCategorySymbol];
          if(nextRelation) {
            f(nextRelation, defaultCategoryIdList);
          }
        });
        
        document.getElementById('container').appendChild(div);
      }

      let defaultCategoryIdList = [1,5,19, 26, 24];
      f(relationTree, defaultCategoryIdList);
    })();

    // feature 1
    // feature 9
    // feature 9 - 2
    // feature 9 - 3

    // feature 9 -4


    // feature 10
  </script>
</body>
</html>